<div class="d-flex flex-column justify-content-start">
    <news-piece *ngFor="let news of paginatedNewsItems" [newsItem]="news"></news-piece>
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-light">Read more</button>
</div>




<!-- <ul class="pagination justify-content-center">
    <li class="page-item">
        <button class="page-link" tabindex="-1" (click)="previousPage()">Previous</button>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
        <button class="page-link" (click)="nextPage()">Next</button>
    </li>
</ul> -->