<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel">
        <div id="featuredNews" class="carousel slide mt-3" data-bs-ride="carousel" data-bs-interval="10000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex justify-content-start">
                <a href="#" class="news-card card p-1">
                  <div class="news-left">
                    <img src="https://source.unsplash.com/1280x720" />
                  </div>
                  <div class="news-right">
                    <h1 class="news-title">Nam luctus velit sit amet nisi lacinia interdum</h1>
                    <div class="news-body">Sed vestibulum fringilla nunc, sed luctus dolor molestie sed. Nullam maximus
                      quam
                      fringilla, tempus sem vitae, congue dolor.</div>
                    <div class="news-footer">3 minutes ago</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex justify-content-start">
                <a href="#" class="news-card card p-1">
                  <div class="news-left">
                    <img src="https://source.unsplash.com/1280x720" />
                  </div>
                  <div class="news-right">
                    <h1 class="news-title">Nam luctus velit sit amet nisi lacinia interdum</h1>
                    <div class="news-body">Sed vestibulum fringilla nunc, sed luctus dolor molestie sed. Nullam maximus
                      quam
                      fringilla, tempus sem vitae, congue dolor.</div>
                    <div class="news-footer">3 minutes ago</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex justify-content-start">
                <a href="#" class="news-card card p-1">
                  <div class="news-left">
                    <img src="https://source.unsplash.com/1280x720" />
                  </div>
                  <div class="news-right">
                    <h1 class="news-title">Nam luctus velit sit amet nisi lacinia interdum</h1>
                    <div class="news-body">Sed vestibulum fringilla nunc, sed luctus dolor molestie sed. Nullam maximus
                      quam
                      fringilla, tempus sem vitae, congue dolor.</div>
                    <div class="news-footer">3 minutes ago</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-indicators position-relative mt-4">
            <button type="button" data-bs-target="#featuredNews" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#featuredNews" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#featuredNews" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-7">


        </div>
        <div class="col-md-1 d-flex justify-content-center">
          <div class="vr" style="height:100%; opacity:1;"></div>
        </div>
        <div class="col-md-4">
          <div class="countdown">
            <svg width="400" height="160" viewBox="0 0 400 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="400" height="160" rx="50" fill="white" />
            </svg>
          </div>
          <div class="poll mt-4">
            <svg width="400" height="340" viewBox="0 0 400 340" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="400" height="340" rx="50" fill="white" />
            </svg>
          </div>
          <div class="fact mt-4">
            <svg width="400" height="160" viewBox="0 0 400 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="400" height="160" rx="50" fill="white" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>