<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <news-featured></news-featured>

      <div class="row mt-5">
        <div class="col-md-7">
          <news-list></news-list>
        </div>
        <div class="col-md-1 d-flex justify-content-center">
          <div class="vr" style="height:100%; opacity:1;"></div>
        </div>
        <div class="col-md-4">
          <div class="countdown">
            <svg width="400" height="160" viewBox="0 0 400 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="400" height="160" rx="50" fill="white" />
            </svg>
          </div>
          <div class="poll mt-4">
            <svg width="400" height="340" viewBox="0 0 400 340" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="400" height="340" rx="50" fill="white" />
            </svg>
          </div>
          <div class="fact mt-4">
            <svg width="400" height="160" viewBox="0 0 400 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="400" height="160" rx="50" fill="white" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5"></div>