<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <form class="form-inline input-box d-sm-inline-flex navbar-start" [ngClass]="{ open: isOpen }">
      <input type="text" placeholder="Search..." />
      <span class="search" (click)="onClick()">
        <i class="uil uil-search search-icon"></i>
      </span>
      <i class="uil uil-times close-icon"></i>
    </form>
    <a class="navbar-brand d-md-none" href="#">
      <img src="https://i.imgur.com/T2FzYO3.png" alt="" *ngIf="!isOpen">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" [ngStyle]="{'opacity' : isOpen ? 0 : 1}">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <a class="navbar-brand d-none d-md-block" href="#">
          <img src="https://i.imgur.com/T2FzYO3.png" alt="">
        </a>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>